<div class="container-fluid">
    <div class="bg-info p-3 mb-5">
        <h1>Contact Us</h1>
    </div>
    <div class="row">
        <div>
            <p>Please use one of the means below and we'll contact you within 48 hours.</p>
        </div>
        <div class="col-sm-6">

            <div class="row p-5">
               
                <div class="mb-3">
                    <span>
                        <i class="bi bi-envelope-at-fill fs-3"></i>
                        <span class="fw-bold ms-3">Email</span>
                    </span>
                    <p class="text-success ms-5">mye-shop@example.com</p>
                </div>
                <div class="mb-3">
                    <span><i class="bi bi-clock fs-3"></i></span>
                    <span class="fw-bold mb-1 ms-3">Operating hours</span>
                    <p class="mb-1 ms-5">Monday to Sunday</p>
                    <p class="text-success mb-1 ms-5">8:00 - 20:00</p>
                </div>
                <div>
                    <span><i class="bi bi-headset fs-3"></i></span>
                    <span class="fw-bold ms-3 mb-1">Customer Care Line</span>
                    <p class="ms-5 text-success">0600&nbsp;10&nbsp;20&nbsp;30</p>
                </div>
            </div>
        </div>
    </div>
</div>